<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Quote</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Генератор Случайных цитат</h1>
        <div class="card mt-4">
            <div class="card-body">
                <blockquote class="blockquote">
                    <p class="mb-0">{{ quote['content'] }}</p>
                    <footer class="blockquote-footer">{{ quote['author'] }}</footer>
                </blockquote>
            </div>
        </div>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>